<div
  class="min-h-screen p-4 md:p-8 font-sans bg-cover bg-center bg-fixed transition-all duration-500"
  [style.background-image]="user.team_color === 'red' ? 'url(/redfond.png)' : 'url(/bluefond.png)'"
>
  <div class="max-w-7xl mx-auto flex justify-end mb-4">
    <img
      class="deco-img w-32 md:w-48 h-auto object-contain opacity-90 hover:opacity-100 transition-opacity"
      src="/titre.png"
      alt="Logo"
    />
  </div>

  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div
      class="p-6 rounded-[2.5rem] shadow-2xl relative w-full aspect-[4/3] flex flex-col justify-between border-b-8 border-r-8"
      [ngClass]="
        user.team_color === 'red'
          ? 'bg-[#ff7171] border-[#db5151]'
          : 'bg-[#90a5ff] border-[#6a4cef]'
      "
    >
      <div class="bg-white rounded-xl p-6 flex-grow shadow-inner flex flex-col justify-between">
        <div class="flex flex-col gap-2">
          <h3 class="font-bold text-center text-gray-400 text-sm uppercase tracking-widest mb-1">
            Mode de jeu
          </h3>
          <div class="flex justify-center gap-2">
            <button
              (click)="choisir_mode('hasard')"
              [ngClass]="
                selected_game_mode === 'hasard'
                  ? 'bg-[#311b5e] text-white shadow-inner'
                  : 'bg-gray-200 text-black'
              "
              class="px-3 py-1 font-bold rounded transition-all text-sm"
            >
              Hasard
            </button>
            <button
              (click)="choisir_mode('construit')"
              [ngClass]="
                selected_game_mode === 'construit'
                  ? 'bg-[#311b5e] text-white shadow-inner'
                  : 'bg-gray-200 text-black'
              "
              class="px-3 py-1 font-bold rounded transition-all text-sm"
            >
              Construit
            </button>
            <button
              (click)="choisir_mode('pioche')"
              [ngClass]="
                selected_game_mode === 'pioche'
                  ? 'bg-[#311b5e] text-white shadow-inner'
                  : 'bg-gray-200 text-black'
              "
              class="px-3 py-1 font-bold rounded transition-all text-sm"
            >
              Draft
            </button>
          </div>
        </div>

        <div class="flex justify-between items-center mt-6">
          <button
            class="bg-gray-200 px-4 py-2 font-bold text-black shadow-md hover:bg-gray-300 transition-colors text-sm rounded"
          >
            Choose a team
          </button>
          <button
            (click)="lancer_partie()"
            class="font-black text-2xl transition-colors animate-pulse"
            [ngClass]="
              user.team_color === 'red'
                ? 'text-[#db5151] hover:text-red-700'
                : 'text-[#6a4cef] hover:text-blue-700'
            "
          >
            START GAME
          </button>
        </div>

        <div
          class="flex justify-between items-center mt-auto pt-4 border-t-2 border-gray-100 font-bold text-gray-500 text-sm"
        >
          <button (click)="naviguer('/pokemonteams')" class="hover:text-black">Mes équipes</button>
          <button (click)="naviguer('/dex')" class="hover:text-black">Pokedex</button>
        </div>
      </div>

      <div class="flex justify-start gap-6 px-8 pt-6 pb-2">
        <button
          class="w-12 h-12 bg-gray-200 rounded-full border-2 border-gray-400 flex items-center justify-center shadow-md active:scale-95 transition-transform"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-gray-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
        <button
          class="w-12 h-12 bg-gray-200 rounded-full border-2 border-gray-400 flex items-center justify-center shadow-md active:scale-95 transition-transform"
        >
          <div class="w-6 h-6 border-2 border-gray-400 rounded-full"></div>
        </button>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <div
        class="relative w-full aspect-[1.42/1] font-sans text-white overflow-hidden rounded-xl shadow-2xl"
      >
        <img
          [src]="user.team_color === 'red' ? '/redtrainer.png' : '/bluetrainer.png'"
          class="absolute inset-0 w-full h-full object-fill z-0"
        />

        <div class="relative z-20 h-full w-full">
          <div
            class="absolute left-[6%] top-[18%] w-[55%] h-10 flex items-center px-2 font-bold text-lg md:text-2xl uppercase tracking-tighter drop-shadow-md"
          >
            <span *ngIf="!isEditing">{{ user.pseudo }}</span>
            <input
              *ngIf="isEditing"
              [(ngModel)]="user.pseudo"
              class="bg-white/20 rounded px-2 w-full outline-none border border-white/40"
            />
          </div>

          <div
            (click)="isEditing && changeColor()"
            class="absolute left-[3.5%] top-[31.5%] z-30 w-80 text-center text-[10px] md:text-sm font-bold bg-transparent hover:bg-white/20 text-white py-1 rounded-md transition-all"
          >
            {{ user.team_color | uppercase }}
          </div>

          <button
            (click)="naviguer('/historique')"
            class="absolute left-[3.5%] top-[53%] z-30 w-36 text-center text-[10px] md:text-sm font-bold bg-transparent hover:bg-white/20 text-white py-1 rounded-md transition-all"
          >
            HISTORIQUE
          </button>
          <div
            class="absolute left-[38%] top-[52%] h-10 flex items-center font-black text-2xl md:text-3xl text-white drop-shadow-lg italic"
          >
            {{ user.score }}
          </div>

          <button
            class="absolute left-[3.5%] top-[72%] z-30 w-80 text-center text-[10px] md:text-sm font-bold bg-transparent hover:bg-white/20 text-white py-1 rounded-md transition-all border border-white/20 shadow-lg"
          >
            DECONNEXION
          </button>

          <div
            class="absolute top-[21%] right-[4.5%] w-[32%] h-[46%] flex items-center justify-center overflow-hidden"
          >
            <img [src]="user.avatar" class="w-full h-full object-contain drop-shadow-2xl" />
          </div>

          <button
            (click)="toggleEdit()"
            class="absolute top-[72%] right-[6%] z-30 w-40 text-center text-[10px] md:text-sm font-bold bg-white/15 hover:bg-white/20 text-white py-1 rounded-md transition-all border border-white/30 shadow-lg"
          >
            {{ isEditing ? 'SAVE' : 'EDIT' }}
          </button>
        </div>
      </div>

      <div
        class="bg-white/80 backdrop-blur-sm rounded-2xl p-4 shadow-lg font-sans text-sm text-gray-800 border-l-8 border-blue-500"
      >
        <div class="space-y-1 overflow-y-auto max-h-[150px]">
          <p><span class="font-bold text-blue-600">Pierre 200326 :</span> Je te ez</p>
          <p>
            <span class="font-bold text-red-600">JuicyFatMarc :</span> Les fans kc vous êtes trop
            toxics
          </p>
          <hr class="my-2 border-gray-200" />
          <p class="text-[11px] text-gray-500 italic text-center">Début du tour 3</p>
          <p><span class="font-bold">Pablob :</span> Pierre200326 a choisi de stay</p>
          <p><span class="font-bold">Pablob :</span> JuicyFatMarc a choisi de switch</p>
          <p class="font-bold text-green-600 italic">
            Tortank Gagne, Pierre200326 remporte le tour !
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
